* {
    background: lightgray;
    font-family: 'Poppins', sans-serif;
    margin: 0 0;
}

h1 {
    text-align: center;
    background: white;
    height: 10vh;
    line-height: 10vh;
    width: 90vw;
    margin: 1.5vw 5vw;
}

.value {
    border: 1px rgb(125, 16, 228) solid;
    padding: 1.5%;
    margin: 0.75vw 25vw;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 9vh;
    box-sizing: border-box;
}

.circle {
    background: linear-gradient(rgb(125, 16, 228), rgb(206, 14, 206));
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    transition: 0.4s ease-in;
    pointer-events: initial;
}

.circle div {
    position: relative;
    clip-path: polygon(5% 40%, 40% 40%, 40% 5%, 60% 5%, 60% 40%, 95% 40%, 95% 60%, 60% 60%, 60% 95%, 40% 95%, 40% 60%, 5% 60%);
    background: lightgray;
    height: 50%;
    width: 50%;
    margin: 25%;
    pointer-events: initial;
}

.value:hover .circle {
    transform: rotate(225deg);
}

/* .value:hover + .value-text {
    opacity: 100%;
    position: static;
    max-height: 300px;
} */

.value-text {
   width: 45%;
   height: 0px;
   margin: 0.75vw auto;
   line-height: 32px;
   opacity: 0%;
   transition: 0.4 ease-in;
   pointer-events: none;
}

.radio-test {
    display: block;
    height: 9vh;
    width: 50vw;
    margin: 0.75vw 0;
    outline: 1px solid red;
    position: absolute;
    left: 0;
    cursor: pointer;
    pointer-events: initial;
    box-sizing: border-box;
    opacity: 0;
}

.radio-test:focus {
    background-color:red;
}

.div-text {
    position: relative;
    bottom: -11vh;
    left: -55%;
    top: 5vw;
    min-width: 45vw;
    line-height: 32px;
    transform: scaleY(0);
    transition: transform 0.4s ease-in;
}

.radio-test:focus + .div-text {
    transform: scaleY(1);
}

.radio-test:focus {
    height: 18vh;
}

.span-value {
    min-width: 50ch;
    pointer-events: none;
    transition: color 0.4s ease;
}

.value-radio {
    border: 1px rgb(125, 16, 228) solid;
    padding: 1.5%;
    margin: 0.75vw 25vw;
    display: flex;
    justify-content: space-between;
    background:rgba(0,0,0,0);
    align-items: center;
    width: 50vw;
    height: 9vh;
    box-sizing: border-box;
    pointer-events: initial;
    z-index: 1;
    position: relative;
}

.radio-test:hover + .circle {
    transform: rotate(225deg);
}