* {
    background: lightgray;
    font-family: 'Poppins', sans-serif;
    margin: 0 0;
    overflow-y: hidden;
}

h1 {
    text-align: center;
    background: white;
    height: 10vh;
    line-height: 10vh;
    width: 90vw;
    margin: 1.5vw 5vw;
}

.value {
    border: 1px rgb(125, 16, 228) solid;
    padding: 1.5%;
    margin: 0.75vw auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 9vh;
    box-sizing: border-box;
}

.circle {
    background: linear-gradient(rgb(125, 16, 228), rgb(206, 14, 206));
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    transition: 0.4s ease-in;
}

.circle div {
    position: relative;
    clip-path: polygon(5% 40%, 40% 40%, 40% 5%, 60% 5%, 60% 40%, 95% 40%, 95% 60%, 60% 60%, 60% 95%, 40% 95%, 40% 60%, 5% 60%);
    background: lightgray;
    height: 50%;
    width: 50%;
    margin: 25%;
}

.value:hover .circle {
    transform: rotate(225deg);
}

.value:hover + .value-text {
    opacity: 100%;
    position: static;
    max-height: 300px;
}

.value-text {
   width: 45%;
   max-height: 0px;
   margin: 0.75vw auto;
   line-height: 32px;
   opacity: 0%;
   transition: max-height 0.4 ease-in;
   
   pointer-events: none;
}

.radio-test {
    border-radius: 0;
    display: block;
    width: 50vw;
    height: 9vh;
    margin: 0.75vw auto;
    outline: 1px solid red;
    position: absolute;
    z-index: 1;
}

.radio-test:focus {
    background-color:red;
}

span {
    display: none;
}

.radio-test:focus + span {
    display: inline;
}

.value-radio {
    border: 1px rgb(125, 16, 228) solid;
    padding: 1.5%;
    margin: 0.75vw auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background:rgba(0,0,0,0);
    align-items: center;
    width: 50vw;
    height: 9vh;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 0;
}